# 1. model 생성을 위한 units = 0이 아닌 데이터만 뽑아서 만든다

## 1-1 전체 데이터 load

In [2]:
from jw_package import *
from filling_missing import *
from functools import *

import configuration completed !
train + key + weather merging started
train + key + weather merging finished
function configuration completed !
Good to go !

In [3]:
each_station = []

for station_nbr in range(1,21):
    file_path = '../data/weather_best_close_final/{:02}.csv'.format(station_nbr)
    station = pd.read_csv(file_path,index_col=0)
    each_station.append(station)

weather = reduce((lambda x,y : x.append(y)),each_station)

In [2]:
# each_station = []

# for station_nbr in range(1,21):
#     file_path = '../data/weather_partial_mean_all_best_close/{:02}.csv'.format(station_nbr)
#     station = pd.read_csv(file_path,index_col=0)
#     each_station.append(station)

# weather = reduce((lambda x,y : x.append(y)),each_station)

In [4]:
sales = pd.read_csv('../data/basic/train.csv')
keys = pd.read_csv('../data/basic/key.csv')

In [5]:
data = sales.merge(keys).merge(weather)

In [5]:
data.head()

,date,store_nbr,item_nbr,units,station_nbr,avgspeed,codesum,cool,day,depart,...,sealevel,snowfall,stnpressure,sunrise,sunset,tavg,tmax,tmin,wetbulb,year
0,2012-01-01,1,1,0,1,4.6,RA FZFG BR,0.0,1,8.0,...,29.92,0.0,29.78,-,-,42.0,52.0,31.0,40.0,2012
1,2012-01-01,1,2,0,1,4.6,RA FZFG BR,0.0,1,8.0,...,29.92,0.0,29.78,-,-,42.0,52.0,31.0,40.0,2012
2,2012-01-01,1,3,0,1,4.6,RA FZFG BR,0.0,1,8.0,...,29.92,0.0,29.78,-,-,42.0,52.0,31.0,40.0,2012
3,2012-01-01,1,4,0,1,4.6,RA FZFG BR,0.0,1,8.0,...,29.92,0.0,29.78,-,-,42.0,52.0,31.0,40.0,2012
4,2012-01-01,1,5,0,1,4.6,RA FZFG BR,0.0,1,8.0,...,29.92,0.0,29.78,-,-,42.0,52.0,31.0,40.0,2012

## 1-2 tmp 데이터로 copy후 units = 0이 아닌 것만 뽑아서 model 생성

In [31]:
tmp = data.copy()

In [32]:
tmp = tmp[tmp['units']!=0]

In [33]:
# # etc = ['day','month','year','station_nbr']
# category = ['sunrise','sunset','codesum']

# for each in etc+category:
#     tmp.drop(each,axis=1,inplace=True)

In [34]:
# etc = ['day','month','year','station_nbr']
category = ['sunrise','sunset','codesum']

for each in category:
    tmp.drop(each,axis=1,inplace=True)

In [35]:
del tmp['tavg']
del tmp['sealevel']
del tmp['wetbulb']
del tmp['stnpressure']
del tmp['tmin']
del tmp['tmax']
del tmp['dewpoint']
del tmp['avgspeed']
del tmp['resultspeed']

In [36]:
tmp.reset_index(drop = True, inplace = True)

In [37]:
tmp.tail()

,date,store_nbr,item_nbr,units,station_nbr,depart,heat,cool,snowfall,preciptotal,resultdir,year,month,day
118691,2014-10-29,35,66,14,5,6.0,13.0,0.0,0.0,0.02,23.0,2014,10,29
118692,2014-10-30,35,16,16,5,6.0,13.0,0.0,0.0,0.02,30.0,2014,10,30
118693,2014-10-30,35,66,6,5,6.0,13.0,0.0,0.0,0.02,30.0,2014,10,30
118694,2014-10-31,35,16,18,5,2.0,24.0,0.0,0.0,0.00,5.0,2014,10,31
118695,2014-10-31,35,66,10,5,2.0,24.0,0.0,0.0,0.00,5.0,2014,10,31

# 2. 이부분은 codesum_v1.csv 데이터 load

In [38]:
codesum = pd.read_csv('../data/weather_v1.csv', index_col = 0)

In [39]:
codesum = codesum.merge(keys, on = 'station_nbr' )

In [40]:
codesum = codesum.loc[:,['date','store_nbr','is_holiday','codesum']]

In [41]:
tmp = tmp.merge(codesum, on = ['date','store_nbr'])

In [16]:
tmp.head()

,date,store_nbr,item_nbr,units,depart,heat,cool,snowfall,preciptotal,resultdir,is_holiday,codesum
0,2012-01-01,1,9,29,10.0,23.0,0.0,0.0,0.05,20.0,holiday,Not_MO
1,2012-01-01,1,28,2,10.0,23.0,0.0,0.0,0.05,20.0,holiday,Not_MO
2,2012-01-01,1,51,1,10.0,23.0,0.0,0.0,0.05,20.0,holiday,Not_MO
3,2012-01-02,1,9,60,23.0,24.0,0.0,0.0,0.01,24.0,holiday_work,MO
4,2012-01-02,1,28,5,23.0,24.0,0.0,0.0,0.01,24.0,holiday_work,MO

## 2-1. codesum에서 holiday 컬럼, codesum 컬럼 category변환 함수 
- holiday 이면 1 아니면 0
- codesum 'Not_MO'이면 1 MO 이면 0

In [42]:
def cate_holiday(holiday):
    if holiday == 'holiday' or holiday == 'holiday_work':
            return 1
    else:
        return 0
def cate_codesum(codesum):
    if codesum == 'MO':
        return 0 
    else:
        return 1
    
tmp['is_holiday'] = tmp['is_holiday'].apply(cate_holiday)
tmp['codesum'] = tmp['codesum'].apply(cate_codesum)

In [43]:
tmp.head()

,date,store_nbr,item_nbr,units,station_nbr,depart,heat,cool,snowfall,preciptotal,resultdir,year,month,day,is_holiday,codesum
0,2012-01-01,1,9,29,1,10.0,23.0,0.0,0.0,0.05,20.0,2012,1,1,1,1
1,2012-01-01,1,28,2,1,10.0,23.0,0.0,0.0,0.05,20.0,2012,1,1,1,1
2,2012-01-01,1,51,1,1,10.0,23.0,0.0,0.0,0.05,20.0,2012,1,1,1,1
3,2012-01-02,1,9,60,1,23.0,24.0,0.0,0.0,0.01,24.0,2012,1,2,1,0
4,2012-01-02,1,28,5,1,23.0,24.0,0.0,0.0,0.01,24.0,2012,1,2,1,0

# 3. model 생성
- formula = 'units ~ C(store_nbr) + C(item_nbr)+ scale(cool) + scale(heat) + scale(preciptotal) + scale(snowfall) + is_holiday'

In [53]:
formula = 'units ~ C(store_nbr) + C(item_nbr) + C(year) + C(month) + C(day) + C(station_nbr) + C(is_holiday)'
model = sm.OLS.from_formula(formula, data= tmp)
result = model.fit()

In [54]:
# formula = 'units ~ C(store_nbr) + C(item_nbr)+ scale(cool) + scale(heat) + scale(preciptotal) + scale(snowfall) + is_holiday'
# model = sm.OLS.from_formula(formula, data= tmp)
# result = model.fit()

In [55]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  units   R-squared:                       0.865
Model:                            OLS   Adj. R-squared:                  0.865
Method:                 Least Squares   F-statistic:                     3298.
Date:                Tue, 13 Mar 2018   Prob (F-statistic):               0.00
Time:                        19:47:12   Log-Likelihood:            -3.8632e+05
No. Observations:              101714   AIC:                         7.730e+05
Df Residuals:                  101515   BIC:                         7.749e+05
Df Model:                         198
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept               15.7307      0.812     19.371      0.000      14.139      17.322
C(store_nbr)[T.2]     1.825e+12   1.67e+12      1.091      0.275   -1.45e+12     5.1e+12
C(store_nbr)[T.3]     4.192e+12   5.73e+12      0.731      0.465   -7.04e+12    1.54e+13
C(store_nbr)[T.4]    -6.597e+12   5.02e+12     -1.315      0.188   -1.64e+13    3.23e+12
C(store_nbr)[T.5]    -3.043e+12   3.05e+12     -0.999      0.318   -9.01e+12    2.93e+12
C(store_nbr)[T.6]     1.825e+12   1.67e+12      1.091      0.275   -1.45e+12     5.1e+12
C(store_nbr)[T.7]     -8.92e+12   5.08e+12     -1.757      0.079   -1.89e+13    1.03e+12
C(store_nbr)[T.8]     5.059e+11   1.88e+12      0.270      0.787   -3.17e+12    4.18e+12
C(store_nbr)[T.9]    -2.398e+12   3.58e+12     -0.669      0.503   -9.42e+12    4.63e+12
C(store_nbr)[T.10]   -3.043e+12   3.05e+12     -0.999      0.318   -9.01e+12    2.93e+12
C(store_nbr)[T.11]    2.406e+12   1.14e+12      2.106      0.035    1.67e+11    4.65e+12
C(store_nbr)[T.12]   -1.665e+12   1.47e+12     -1.135      0.256   -4.54e+12    1.21e+12
C(store_nbr)[T.13]    -8.92e+12   5.08e+12     -1.757      0.079   -1.89e+13    1.03e+12
C(store_nbr)[T.14]    2.984e+12   4.48e+12      0.666      0.506    -5.8e+12    1.18e+13
C(store_nbr)[T.15]   -3.111e+12   3.02e+12     -1.031      0.303   -9.03e+12     2.8e+12
C(store_nbr)[T.16]   -6.767e+12   7.77e+12     -0.870      0.384    -2.2e+13    8.47e+12
C(store_nbr)[T.17]   -2.106e+12   3.46e+12     -0.609      0.542   -8.88e+12    4.67e+12
C(store_nbr)[T.18]   -2.398e+12   3.58e+12     -0.669      0.503   -9.42e+12    4.63e+12
C(store_nbr)[T.19]   -4.875e+12   8.01e+12     -0.608      0.543   -2.06e+13    1.08e+13
C(store_nbr)[T.20]    4.192e+12   5.73e+12      0.731      0.465   -7.04e+12    1.54e+13
C(store_nbr)[T.21]    -1.74e+12   3.35e+12     -0.519      0.604   -8.31e+12    4.83e+12
C(store_nbr)[T.22]    2.406e+12   1.14e+12      2.106      0.035    1.67e+11    4.65e+12
C(store_nbr)[T.23]   -2.398e+12   3.58e+12     -0.669      0.503   -9.42e+12    4.63e+12
C(store_nbr)[T.24]   -6.597e+12   5.02e+12     -1.315      0.188   -1.64e+13    3.23e+12
C(store_nbr)[T.25]   -3.111e+12   3.02e+12     -1.031      0.303   -9.03e+12     2.8e+12
C(store_nbr)[T.26]   -2.398e+12   3.58e+12     -0.669      0.503   -9.42e+12    4.63e+12
C(store_nbr)[T.27]    2.406e+12   1.14e+12      2.106      0.035    1.67e+11    4.65e+12
C(store_nbr)[T.28]    4.192e+12   5.73e+12      0.731      0.465   -7.04e+12    1.54e+13
C(store_nbr)[T.29]    -1.74e+12   3.35e+12     -0.519      0.604   -8.31e+12    4.83e+12
C(store_nbr)[T.30]   -2.086e+12   3.52e+12     -0.593      0.553   -8.98e+12    4.81e+12
C(store_nbr)[T.31]   -2.398e+12   3.58e+12     -0.669      0.503   -9.42e+12    4.63e+12
C(store_nbr)[T.32]   -3.111e+12   3.02e+12     -1.031      0.303   -9.03e+12     2.8e+12
C(store_nbr)[T.33]    -1.74e+12   3.35e+12     -0.519      0.604   -8.31e+12    4.83e+12
C(store_nbr)[T.34]   -2.398e+12   3.58e+12     -0.669      0.503   -9.42e+12    4.63e+12
C(store_nbr)[T.35]    5.382e+12   8.62e+12      0.624      0.533   -1.15e+13    2.23e+13
C(store_nbr)[T.36]    -7.27e+12   1.28e+13     -0.569      0.569   -3.23e+13    1.78e+13
C(store_nbr)[T.37]   -3.111e+12   3.02e+12     -1.031      0.303   -9.03e+12     2.8e+12
C(store_nbr)[T.38]    1.825e+12   1.67e+12      1.091      0.275   -1.45e+12     5.1e+12
C(store_nbr)[T.39]    6.824e+11   7.05e+11      0.967      0.333      -7e+11    2.06e+12
C(store_nbr)[T.40]   -3.111e+12   3.02e+12     -1.031      0.303   -9.03e+12     2.8e+12
C(store_nbr)[T.41]   -3.043e+12   3.05e+12     -0.999      0.318   -9.01e+12    2.93e+12
C(store_nbr)[T.42]    1.825e+12   1.67e+12      1.091      0.275   -1.45e+12     5.1e+12
C(store_nbr)[T.43]   -1.665e+12   1.47e+12     -1.135      0.256   -4.54e+12    1.21e+12
C(store_nbr)[T.44]   -3.043e+12   3.05e+12     -0.999      0.318   -9.01e+12    2.93e+12
C(store_nbr)[T.45]    2.984e+12   4.48e+12      0.666      0.506    -5.8e+12    1.18e+13
C(item_nbr)[T.2]       -11.6892      0.811    -14.405      0.000     -13.280     -10.099
C(item_nbr)[T.3]       -22.9629      1.023    -22.450      0.000     -24.968     -20.958
C(item_nbr)[T.4]         9.8759      1.120      8.822      0.000       7.682      12.070
C(item_nbr)[T.5]        19.3990      0.715     27.145      0.000      17.998      20.800
C(item_nbr)[T.6]       -52.4013      1.838    -28.514      0.000     -56.003     -48.799
C(item_nbr)[T.7]       -28.8074      0.980    -29.382      0.000     -30.729     -26.886
C(item_nbr)[T.8]         6.3436      0.867      7.320      0.000       4.645       8.042
C(item_nbr)[T.9]        23.3563      0.699     33.400      0.000      21.986      24.727
C(item_nbr)[T.10]      -23.0735      0.956    -24.131      0.000     -24.948     -21.199
C(item_nbr)[T.11]      -38.2175      0.977    -39.104      0.000     -40.133     -36.302
C(item_nbr)[T.12]      -36.9135      0.963    -38.350      0.000     -38.800     -35.027
C(item_nbr)[T.13]      -29.0585      1.059    -27.439      0.000     -31.134     -26.983
C(item_nbr)[T.14]      -21.9919      1.141    -19.268      0.000     -24.229     -19.755
C(item_nbr)[T.15]      -16.9670      0.861    -19.712      0.000     -18.654     -15.280
C(item_nbr)[T.16]        6.2000      0.740      8.384      0.000       4.751       7.650
C(item_nbr)[T.17]      -29.6387      0.933    -31.784      0.000     -31.466     -27.811
C(item_nbr)[T.18]      -32.2619      0.977    -33.006      0.000     -34.178     -30.346
C(item_nbr)[T.19]      -12.0281      0.926    -12.984      0.000     -13.844     -10.212
C(item_nbr)[T.20]      -19.4813      0.908    -21.454      0.000     -21.261     -17.702
C(item_nbr)[T.21]      -20.0696      0.814    -24.664      0.000     -21.665     -18.475
C(item_nbr)[T.22]       14.2386      1.421     10.022      0.000      11.454      17.023
C(item_nbr)[T.23]       -3.7458      0.799     -4.689      0.000      -5.311      -2.180
C(item_nbr)[T.24]      -11.3196      1.031    -10.984      0.000     -13.339      -9.300
C(item_nbr)[T.25]       37.5834      0.853     44.072      0.000      35.912      39.255
C(item_nbr)[T.26]       11.8685      0.873     13.587      0.000      10.156      13.580
C(item_nbr)[T.27]      -71.6067      0.968    -73.947      0.000     -73.505     -69.709
C(item_nbr)[T.28]       -3.4560      0.851     -4.059      0.000      -5.125      -1.787
C(item_nbr)[T.29]       -3.4169      0.901     -3.791      0.000      -5.183      -1.651
C(item_nbr)[T.30]       -1.7385      0.761     -2.285      0.022      -3.229      -0.248
C(item_nbr)[T.31]      -36.9113      0.961    -38.392      0.000     -38.796     -35.027
C(item_nbr)[T.32]      -19.0837      0.994    -19.192      0.000     -21.033     -17.135
C(item_nbr)[T.33]       16.9728      1.068     15.898      0.000      14.880      19.065
C(item_nbr)[T.34]        8.8577      1.683      5.264      0.000       5.560      12.155
C(item_nbr)[T.35]       -9.7023      0.944    -10.276      0.000     -11.553      -7.852
C(item_nbr)[T.36]       31.3152      0.796     39.365      0.000      29.756      32.874
C(item_nbr)[T.37]       -7.3731      0.741     -9.945      0.000      -8.826      -5.920
C(item_nbr)[T.38]       -4.4202      0.974     -4.539      0.000      -6.329      -2.511
C(item_nbr)[T.39]      -20.6844      1.153    -17.942      0.000     -22.944     -18.425
C(item_nbr)[T.40]       -8.2360      1.276     -6.456      0.000     -10.736      -5.736
C(item_nbr)[T.41]       -1.6156      0.801     -2.016      0.044      -3.186      -0.045
C(item_nbr)[T.42]      -17.9556      0.899    -19.974      0.000     -19.718     -16.194
C(item_nbr)[T.43]      -35.3685      1.829    -19.337      0.000     -38.953     -31.784
C(item_nbr)[T.44]       69.8698      0.706     98.968      0.000      68.486      71.254
C(item_nbr)[T.45]       39.2941      0.715     54.970      0.000      37.893      40.695
C(item_nbr)[T.46]      -39.6556      1.021    -38.835      0.000     -41.657     -37.654
C(item_nbr)[T.47]        2.5411      0.993      2.558      0.011       0.594       4.488
C(item_nbr)[T.48]       84.6584      1.071     79.062      0.000      82.560      86.757
C(item_nbr)[T.49]      -26.8086      1.041    -25.751      0.000     -28.849     -24.768
C(item_nbr)[T.50]      -24.3557      0.939    -25.950      0.000     -26.195     -22.516
C(item_nbr)[T.51]      -13.9458      0.857    -16.278      0.000     -15.625     -12.267
C(item_nbr)[T.52]      -38.0377      0.806    -47.194      0.000     -39.617     -36.458
C(item_nbr)[T.53]      -12.7170      0.957    -13.287      0.000     -14.593     -10.841
C(item_nbr)[T.54]      -19.3820      0.965    -20.082      0.000     -21.274     -17.490
C(item_nbr)[T.55]      -18.5873      0.930    -19.985      0.000     -20.410     -16.764
C(item_nbr)[T.56]       -9.2007      0.859    -10.714      0.000     -10.884      -7.518
C(item_nbr)[T.57]       -6.6637      1.034     -6.446      0.000      -8.690      -4.637
C(item_nbr)[T.58]      -10.8578      0.942    -11.521      0.000     -12.705      -9.011
C(item_nbr)[T.59]      -13.1917      0.906    -14.558      0.000     -14.968     -11.416
C(item_nbr)[T.60]      -83.1391      1.859    -44.725      0.000     -86.783     -79.496
C(item_nbr)[T.61]      -23.1924      0.803    -28.890      0.000     -24.766     -21.619
C(item_nbr)[T.62]      -22.9579      0.988    -23.236      0.000     -24.894     -21.021
C(item_nbr)[T.63]      -12.3510      1.013    -12.187      0.000     -14.337     -10.365
C(item_nbr)[T.64]      -23.6009      1.090    -21.648      0.000     -25.738     -21.464
C(item_nbr)[T.65]      -30.0528      0.977    -30.766      0.000     -31.967     -28.138
C(item_nbr)[T.66]       -2.8386      0.880     -3.226      0.001      -4.563      -1.114
C(item_nbr)[T.67]      -21.8788      0.869    -25.163      0.000     -23.583     -20.175
C(item_nbr)[T.68]       14.5406      0.736     19.759      0.000      13.098      15.983
C(item_nbr)[T.69]      -14.2344      0.946    -15.041      0.000     -16.089     -12.379
C(item_nbr)[T.70]       19.0812      1.107     17.244      0.000      16.912      21.250
C(item_nbr)[T.71]      -73.0714      1.029    -70.996      0.000     -75.089     -71.054
C(item_nbr)[T.72]       -8.6203      0.949     -9.087      0.000     -10.480      -6.761
C(item_nbr)[T.73]      -23.8538      0.995    -23.985      0.000     -25.803     -21.905
C(item_nbr)[T.74]      -29.5258      1.007    -29.328      0.000     -31.499     -27.553
C(item_nbr)[T.75]      -13.0087      1.055    -12.328      0.000     -15.077     -10.940
C(item_nbr)[T.76]      -83.1998      1.958    -42.484      0.000     -87.038     -79.361
C(item_nbr)[T.77]      -26.2074      1.031    -25.428      0.000     -28.227     -24.187
C(item_nbr)[T.78]      -18.7456      1.057    -17.728      0.000     -20.818     -16.673
C(item_nbr)[T.79]      -24.3728      0.986    -24.723      0.000     -26.305     -22.441
C(item_nbr)[T.80]      -16.0187      1.019    -15.719      0.000     -18.016     -14.021
C(item_nbr)[T.81]      -28.3762      0.942    -30.117      0.000     -30.223     -26.530
C(item_nbr)[T.82]      -20.2948      0.992    -20.458      0.000     -22.239     -18.350
C(item_nbr)[T.83]       -5.1366      0.874     -5.879      0.000      -6.849      -3.424
C(item_nbr)[T.84]      -28.5903      1.131    -25.280      0.000     -30.807     -26.374
C(item_nbr)[T.85]      -36.5224      1.244    -29.364      0.000     -38.960     -34.085
C(item_nbr)[T.86]      -23.6399      0.866    -27.304      0.000     -25.337     -21.943
C(item_nbr)[T.87]      -16.7834      0.915    -18.351      0.000     -18.576     -14.991
C(item_nbr)[T.88]       -9.0844      1.302     -6.979      0.000     -11.636      -6.533
C(item_nbr)[T.89]       -8.9043      1.461     -6.096      0.000     -11.767      -6.042
C(item_nbr)[T.90]      -81.1010      1.013    -80.067      0.000     -83.086     -79.116
C(item_nbr)[T.91]      -12.3294      0.965    -12.774      0.000     -14.221     -10.438
C(item_nbr)[T.92]      -94.8747      1.011    -93.801      0.000     -96.857     -92.892
C(item_nbr)[T.93]      -22.3601      0.726    -30.795      0.000     -23.783     -20.937
C(item_nbr)[T.94]      -23.1242      0.917    -25.222      0.000     -24.921     -21.327
C(item_nbr)[T.95]       14.9436      0.961     15.551      0.000      13.060      16.827
C(item_nbr)[T.96]      -78.5725      1.423    -55.220      0.000     -81.361     -75.784
C(item_nbr)[T.97]      -79.6846      1.379    -57.802      0.000     -82.387     -76.983
C(item_nbr)[T.98]      -33.7621      0.847    -39.866      0.000     -35.422     -32.102
C(item_nbr)[T.99]       -4.2989      1.099     -3.912      0.000      -6.453      -2.145
C(item_nbr)[T.100]     -11.2987      1.018    -11.104      0.000     -13.293      -9.304
C(item_nbr)[T.101]     -80.3791      1.153    -69.733      0.000     -82.638     -78.120
C(item_nbr)[T.102]     -20.9813      2.331     -9.003      0.000     -25.549     -16.413
C(item_nbr)[T.103]      22.7227      1.187     19.144      0.000      20.396      25.049
C(item_nbr)[T.104]     -17.6889      0.970    -18.230      0.000     -19.591     -15.787
C(item_nbr)[T.105]     -16.9691      0.928    -18.286      0.000     -18.788     -15.150
C(item_nbr)[T.106]     -20.7502      1.479    -14.026      0.000     -23.650     -17.851
C(item_nbr)[T.107]     -16.8201      1.070    -15.726      0.000     -18.916     -14.724
C(item_nbr)[T.108]     -12.0664      0.994    -12.142      0.000     -14.014     -10.119
C(item_nbr)[T.109]      -9.0319      0.846    -10.680      0.000     -10.689      -7.374
C(item_nbr)[T.110]      -6.7206      1.205     -5.579      0.000      -9.082      -4.360
C(item_nbr)[T.111]      28.0482      1.500     18.696      0.000      25.108      30.989
C(year)[T.2013]         -2.3343      0.082    -28.429      0.000      -2.495      -2.173
C(year)[T.2014]         -6.8751      0.093    -74.108      0.000      -7.057      -6.693
C(month)[T.2]           -1.3717      0.160     -8.563      0.000      -1.686      -1.058
C(month)[T.3]           -2.3950      0.155    -15.438      0.000      -2.699      -2.091
C(month)[T.4]           -3.3525      0.159    -21.045      0.000      -3.665      -3.040
C(month)[T.5]           -3.2525      0.160    -20.315      0.000      -3.566      -2.939
C(month)[T.6]           -1.7737      0.163    -10.899      0.000      -2.093      -1.455
C(month)[T.7]           -1.7853      0.163    -10.985      0.000      -2.104      -1.467
C(month)[T.8]           -1.6973      0.160    -10.627      0.000      -2.010      -1.384
C(month)[T.9]           -3.1973      0.166    -19.225      0.000      -3.523      -2.871
C(month)[T.10]          -3.8272      0.161    -23.794      0.000      -4.142      -3.512
C(month)[T.11]          -4.0006      0.180    -22.252      0.000      -4.353      -3.648
C(month)[T.12]          -2.1517      0.176    -12.236      0.000      -2.496      -1.807
C(day)[T.2]             -0.7642      0.277     -2.762      0.006      -1.307      -0.222
C(day)[T.3]             -0.8824      0.277     -3.187      0.001      -1.425      -0.340
C(day)[T.4]             -2.7759      0.276    -10.047      0.000      -3.317      -2.234
C(day)[T.5]              0.2874      0.280      1.026      0.305      -0.261       0.836
C(day)[T.6]             -1.2123      0.274     -4.429      0.000      -1.749      -0.676
C(day)[T.7]             -1.7299      0.273     -6.329      0.000      -2.266      -1.194
C(day)[T.8]             -2.6634      0.275     -9.678      0.000      -3.203      -2.124
C(day)[T.9]             -2.5953      0.275     -9.434      0.000      -3.135      -2.056
C(day)[T.10]            -0.1698      0.277     -0.612      0.541      -0.714       0.374
C(day)[T.11]            -1.7945      0.274     -6.549      0.000      -2.332      -1.257
C(day)[T.12]            -2.9764      0.276    -10.789      0.000      -3.517      -2.436
C(day)[T.13]            -2.8641      0.274    -10.451      0.000      -3.401      -2.327
C(day)[T.14]            -3.6557      0.275    -13.271      0.000      -4.196      -3.116
C(day)[T.15]            -2.8834      0.276    -10.451      0.000      -3.424      -2.343
C(day)[T.16]            -3.8871      0.275    -14.152      0.000      -4.426      -3.349
C(day)[T.17]            -4.1633      0.274    -15.222      0.000      -4.699      -3.627
C(day)[T.18]            -4.1279      0.272    -15.190      0.000      -4.661      -3.595
C(day)[T.19]            -4.5787      0.272    -16.845      0.000      -5.111      -4.046
C(day)[T.20]            -4.4271      0.271    -16.322      0.000      -4.959      -3.896
C(day)[T.21]            -4.7144      0.271    -17.398      0.000      -5.245      -4.183
C(day)[T.22]            -5.0645      0.271    -18.675      0.000      -5.596      -4.533
C(day)[T.23]            -4.6942      0.271    -17.327      0.000      -5.225      -4.163
C(day)[T.24]            -5.1431      0.270    -19.059      0.000      -5.672      -4.614
C(day)[T.25]            -4.4751      0.275    -16.285      0.000      -5.014      -3.937
C(day)[T.26]            -5.1842      0.271    -19.117      0.000      -5.716      -4.653
C(day)[T.27]            -5.3434      0.272    -19.680      0.000      -5.876      -4.811
C(day)[T.28]            -5.4173      0.273    -19.855      0.000      -5.952      -4.883
C(day)[T.29]            -5.3952      0.278    -19.422      0.000      -5.940      -4.851
C(day)[T.30]            -5.5878      0.282    -19.833      0.000      -6.140      -5.036
C(day)[T.31]            -5.3216      0.318    -16.753      0.000      -5.944      -4.699
C(station_nbr)[T.2]   6.767e+12   7.77e+12      0.870      0.384   -8.47e+12     2.2e+13
C(station_nbr)[T.3]    1.74e+12   3.35e+12      0.519      0.604   -4.83e+12    8.31e+12
C(station_nbr)[T.4]  -5.059e+11   1.88e+12     -0.270      0.787   -4.18e+12    3.17e+12
C(station_nbr)[T.5]  -5.382e+12   8.62e+12     -0.624      0.533   -2.23e+13    1.15e+13
C(station_nbr)[T.6]    8.92e+12   5.08e+12      1.757      0.079   -1.03e+12    1.89e+13
C(station_nbr)[T.7]  -4.192e+12   5.73e+12     -0.731      0.465   -1.54e+13    7.04e+12
C(station_nbr)[T.8]  -6.824e+11   7.05e+11     -0.967      0.333   -2.06e+12       7e+11
C(station_nbr)[T.9]   6.597e+12   5.02e+12      1.315      0.188   -3.23e+12    1.64e+13
C(station_nbr)[T.10] -2.406e+12   1.14e+12     -2.106      0.035   -4.65e+12   -1.67e+11
C(station_nbr)[T.11]  1.665e+12   1.47e+12      1.135      0.256   -1.21e+12    4.54e+12
C(station_nbr)[T.12]  3.043e+12   3.05e+12      0.999      0.318   -2.93e+12    9.01e+12
C(station_nbr)[T.13]  3.111e+12   3.02e+12      1.031      0.303    -2.8e+12    9.03e+12
C(station_nbr)[T.14] -1.825e+12   1.67e+12     -1.091      0.275    -5.1e+12    1.45e+12
C(station_nbr)[T.15]  4.875e+12   8.01e+12      0.608      0.543   -1.08e+13    2.06e+13

## 3-1. cross validation 확인

In [30]:
from sklearn.model_selection import KFold

cv = KFold(n_splits=4, shuffle=True, random_state=0)
for train_index, test_index in cv.split(X):
    print("test index :", test_index, len(test_index))
    print("." * 80)
    print("train index:", train_index, len(train_index))
    print("=" * 80)

    X_train = X.loc[train_index, :]
    X_test = X.loc[test_index, :]
    y_train = y.loc[train_index, :]
    y_test = y.loc[test_index, :]
    
    tmp = pd.concat([X_train, y_train], axis = 1)
    formula = 'units ~ C(store_nbr) + C(item_nbr)+ scale(cool) + scale(heat) + scale(preciptotal) + scale(snowfall) + is_holiday'
    
    model = sm.OLS.from_formula(formula, data= tmp)
    result = model.fit()
    
    
    y_hat = result.predict(X_test)
    
    
    
    print(((y_hat - y_hat.mean())**2).sum()  / ((y_test-y_test.mean())**2).sum() )

test index : [     3      6      9 ..., 118691 118694 118695] 29674
................................................................................
train index: [     0      1      2 ..., 118690 118692 118693] 89022
================================================================================
units    0.6848
dtype: float64
test index : [     1      8     11 ..., 118684 118688 118689] 29674
................................................................................
train index: [     0      2      3 ..., 118693 118694 118695] 89022
================================================================================
units    0.414393
dtype: float64
test index : [     0      4      5 ..., 118686 118690 118692] 29674
................................................................................
train index: [     1      2      3 ..., 118693 118694 118695] 89022
================================================================================
units    0.704704
dtype: float64
test index : [     2     10     13 ..., 118671 118681 118693] 29674
................................................................................
train index: [     0      1      3 ..., 118692 118694 118695] 89022
================================================================================
units    0.696493
dtype: float64

# 4. Outlier 제거 코드

In [52]:
res = result.resid_pearson
index = result.resid.index
outlier_index = abs(res) >= 2

row = pd.Series(index=index, data=res)
drop_index = row[outlier_index].index
len(drop_index)

tmp.drop(list(drop_index),inplace=True)
tmp.reset_index(drop = True, inplace = True)

X = tmp.loc[:, ['date', 'store_nbr', 'item_nbr', 'cool', 'heat', 'preciptotal','snowfall', 'is_holiday']]
y = tmp.loc[:, ['units']]

## 4-1. 2차 제거 후 cross_val 확인
- 위 코드 두번 실행

In [34]:
from sklearn.model_selection import KFold

cv = KFold(n_splits=4, shuffle=True, random_state=0)
for train_index, test_index in cv.split(X):
    print("test index :", test_index, len(test_index))
    print("." * 80)
    print("train index:", train_index, len(train_index))
    print("=" * 80)

    X_train = X.loc[train_index, :]
    X_test = X.loc[test_index, :]
    y_train = y.loc[train_index, :]
    y_test = y.loc[test_index, :]
    
    tmp = pd.concat([X_train, y_train], axis = 1)
    formula = 'units ~ C(store_nbr) + C(item_nbr)+ scale(cool) + scale(heat) + scale(preciptotal) + scale(snowfall) + is_holiday'
    
    model = sm.OLS.from_formula(formula, data= tmp)
    result = model.fit()
    
    
    y_hat = result.predict(X_test)
    
    
    
    print(((y_hat - y_hat.mean())**2).sum()  / ((y_test-y_test.mean())**2).sum() )

test index : [    0     3     6 ..., 61033 61034 61044] 15262
................................................................................
train index: [    1     2     4 ..., 61042 61043 61045] 45784
================================================================================
units    0.810859
dtype: float64
test index : [    1     4     9 ..., 61042 61043 61045] 15262
................................................................................
train index: [    0     2     3 ..., 61038 61039 61044] 45784
================================================================================
units    0.825858
dtype: float64
test index : [    2     7     8 ..., 61030 61035 61038] 15261
................................................................................
train index: [    0     1     3 ..., 61043 61044 61045] 45785
================================================================================
units    0.832029
dtype: float64
test index : [    5    10    11 ..., 61024 61032 61039] 15261
................................................................................
train index: [    0     1     2 ..., 61043 61044 61045] 45785
================================================================================
units    0.801574
dtype: float64

# 4-2. 현재모델

In [35]:
formula = 'units ~ C(store_nbr) + C(item_nbr)+ scale(cool) + scale(heat) + scale(preciptotal) + scale(snowfall) + is_holiday'
model = sm.OLS.from_formula(formula, data= tmp)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  units   R-squared:                       0.818
Model:                            OLS   Adj. R-squared:                  0.817
Method:                 Least Squares   F-statistic:                     1289.
Date:                Tue, 13 Mar 2018   Prob (F-statistic):               0.00
Time:                        00:16:49   Log-Likelihood:            -1.8560e+05
No. Observations:               45785   AIC:                         3.715e+05
Df Residuals:                   45625   BIC:                         3.729e+05
Df Model:                         159
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept              7.9151      1.496      5.290      0.000       4.982      10.848
C(store_nbr)[T.2]     31.1829      0.880     35.431      0.000      29.458      32.908
C(store_nbr)[T.3]     18.5206      0.831     22.295      0.000      16.892      20.149
C(store_nbr)[T.4]     70.3478      1.155     60.911      0.000      68.084      72.611
C(store_nbr)[T.5]     15.6503      0.876     17.874      0.000      13.934      17.366
C(store_nbr)[T.6]     13.5623      0.845     16.059      0.000      11.907      15.218
C(store_nbr)[T.7]     24.6858      0.931     26.519      0.000      22.861      26.510
C(store_nbr)[T.8]      6.2266      0.899      6.926      0.000       4.465       7.989
C(store_nbr)[T.9]     16.5008      0.834     19.786      0.000      14.866      18.135
C(store_nbr)[T.10]    19.6515      0.840     23.406      0.000      18.006      21.297
C(store_nbr)[T.11]    10.2563      0.816     12.563      0.000       8.656      11.856
C(store_nbr)[T.12]    22.0514      0.871     25.307      0.000      20.344      23.759
C(store_nbr)[T.13]    31.9836      0.906     35.303      0.000      30.208      33.759
C(store_nbr)[T.14]   -31.2580      0.907    -34.446      0.000     -33.037     -29.479
C(store_nbr)[T.15]    24.9429      0.810     30.800      0.000      23.356      26.530
C(store_nbr)[T.16]    34.7889      0.936     37.159      0.000      32.954      36.624
C(store_nbr)[T.17]    68.5694      0.919     74.627      0.000      66.768      70.370
C(store_nbr)[T.18]     1.5037      0.868      1.733      0.083      -0.197       3.205
C(store_nbr)[T.19]    10.2286      0.976     10.483      0.000       8.316      12.141
C(store_nbr)[T.20]    25.8982      0.945     27.416      0.000      24.047      27.750
C(store_nbr)[T.21]     3.6567      0.873      4.187      0.000       1.945       5.368
C(store_nbr)[T.22]    13.3745      0.814     16.437      0.000      11.780      14.969
C(store_nbr)[T.23]    -4.8019      0.842     -5.700      0.000      -6.453      -3.151
C(store_nbr)[T.24]    73.7482      3.104     23.762      0.000      67.665      79.831
C(store_nbr)[T.25]    33.2870      0.817     40.732      0.000      31.685      34.889
C(store_nbr)[T.26]     5.3646      0.843      6.367      0.000       3.713       7.016
C(store_nbr)[T.27]     7.1200      0.801      8.888      0.000       5.550       8.690
C(store_nbr)[T.28]     2.7558      0.845      3.263      0.001       1.101       4.411
C(store_nbr)[T.29]    14.2246      0.914     15.564      0.000      12.433      16.016
C(store_nbr)[T.30]    29.1963      0.946     30.859      0.000      27.342      31.051
C(store_nbr)[T.31]    24.7013      0.792     31.170      0.000      23.148      26.255
C(store_nbr)[T.32]     3.6105      0.765      4.718      0.000       2.111       5.110
C(store_nbr)[T.33]    81.9049      0.973     84.152      0.000      79.997      83.813
C(store_nbr)[T.34]    27.8308      0.810     34.371      0.000      26.244      29.418
C(store_nbr)[T.35]    14.9897      0.974     15.384      0.000      13.080      16.900
C(store_nbr)[T.36]    -7.3579      0.862     -8.537      0.000      -9.047      -5.669
C(store_nbr)[T.37]     4.9662      0.813      6.109      0.000       3.373       6.559
C(store_nbr)[T.38]    31.5864      0.810     38.975      0.000      29.998      33.175
C(store_nbr)[T.39]   -29.6088      0.925    -32.014      0.000     -31.422     -27.796
C(store_nbr)[T.40]    12.7822      0.804     15.896      0.000      11.206      14.358
C(store_nbr)[T.41]    17.8161      0.834     21.371      0.000      16.182      19.450
C(store_nbr)[T.42]    10.7587      0.873     12.327      0.000       9.048      12.469
C(store_nbr)[T.43]    22.2315      0.895     24.834      0.000      20.477      23.986
C(store_nbr)[T.44]    14.8195      0.853     17.379      0.000      13.148      16.491
C(store_nbr)[T.45]   -15.3465      0.922    -16.643      0.000     -17.154     -13.539
C(item_nbr)[T.2]     -14.4555      1.587     -9.111      0.000     -17.565     -11.346
C(item_nbr)[T.3]     -29.7536      2.022    -14.716      0.000     -33.716     -25.791
C(item_nbr)[T.4]       7.0671      2.091      3.380      0.001       2.969      11.165
C(item_nbr)[T.5]      19.5290      1.390     14.045      0.000      16.804      22.254
C(item_nbr)[T.6]     -49.8501      3.416    -14.591      0.000     -56.546     -43.154
C(item_nbr)[T.7]     -32.9826      1.909    -17.277      0.000     -36.724     -29.241
C(item_nbr)[T.8]       5.0767      1.681      3.021      0.003       1.783       8.371
C(item_nbr)[T.9]      23.0624      1.364     16.907      0.000      20.389      25.736
C(item_nbr)[T.10]    -24.7290      1.853    -13.343      0.000     -28.361     -21.097
C(item_nbr)[T.11]    -39.5471      1.906    -20.745      0.000     -43.283     -35.811
C(item_nbr)[T.12]    -41.9669      1.882    -22.294      0.000     -45.657     -38.277
C(item_nbr)[T.13]    -36.4986      2.071    -17.625      0.000     -40.558     -32.440
C(item_nbr)[T.14]    -21.1600      2.209     -9.577      0.000     -25.491     -16.829
C(item_nbr)[T.15]    -18.3284      1.681    -10.903      0.000     -21.623     -15.034
C(item_nbr)[T.16]     -0.2484      1.435     -0.173      0.863      -3.061       2.565
C(item_nbr)[T.17]    -33.5473      1.826    -18.375      0.000     -37.126     -29.969
C(item_nbr)[T.18]    -35.2007      1.910    -18.432      0.000     -38.944     -31.458
C(item_nbr)[T.19]    -12.8827      1.816     -7.092      0.000     -16.443      -9.322
C(item_nbr)[T.20]    -23.6780      1.778    -13.316      0.000     -27.163     -20.193
C(item_nbr)[T.21]    -20.9101      1.589    -13.160      0.000     -24.024     -17.796
C(item_nbr)[T.22]      8.1476      2.619      3.111      0.002       3.015      13.281
C(item_nbr)[T.23]     -6.7210      1.554     -4.326      0.000      -9.766      -3.676
C(item_nbr)[T.24]    -15.5243      2.062     -7.528      0.000     -19.567     -11.482
C(item_nbr)[T.25]     50.5303      1.590     31.773      0.000      47.413      53.647
C(item_nbr)[T.26]      9.1214      1.692      5.392      0.000       5.806      12.437
C(item_nbr)[T.27]    -68.8639      1.819    -37.864      0.000     -72.429     -65.299
C(item_nbr)[T.28]     -4.8499      1.660     -2.921      0.003      -8.104      -1.596
C(item_nbr)[T.29]     -3.4725      1.757     -1.976      0.048      -6.917      -0.029
C(item_nbr)[T.30]     -1.1375      1.491     -0.763      0.446      -4.060       1.785
C(item_nbr)[T.31]    -36.6372      1.877    -19.524      0.000     -40.315     -32.959
C(item_nbr)[T.32]    -23.8309      1.949    -12.225      0.000     -27.652     -20.010
C(item_nbr)[T.33]     22.3739      2.099     10.658      0.000      18.259      26.489
C(item_nbr)[T.34]      6.4753      3.408      1.900      0.057      -0.205      13.156
C(item_nbr)[T.35]    -10.8287      1.853     -5.845      0.000     -14.460      -7.197
C(item_nbr)[T.36]     31.4863      1.550     20.320      0.000      28.449      34.523
C(item_nbr)[T.37]    -12.3085      1.441     -8.539      0.000     -15.134      -9.483
C(item_nbr)[T.38]     -8.8936      1.888     -4.712      0.000     -12.593      -5.194
C(item_nbr)[T.39]    -29.4785      2.284    -12.906      0.000     -33.955     -25.002
C(item_nbr)[T.40]     -9.3874      2.356     -3.984      0.000     -14.006      -4.769
C(item_nbr)[T.41]     -4.7064      1.559     -3.019      0.003      -7.762      -1.650
C(item_nbr)[T.42]    -17.5701      1.753    -10.025      0.000     -21.005     -14.135
C(item_nbr)[T.43]    -35.3780      3.407    -10.383      0.000     -42.057     -28.699
C(item_nbr)[T.44]     73.2452      1.370     53.446      0.000      70.559      75.931
C(item_nbr)[T.45]     38.5548      1.391     27.711      0.000      35.828      41.282
C(item_nbr)[T.46]    -38.9517      1.991    -19.561      0.000     -42.855     -35.049
C(item_nbr)[T.47]     -1.7394      1.927     -0.902      0.367      -5.517       2.038
C(item_nbr)[T.48]     82.0107      1.949     42.081      0.000      78.191      85.830
C(item_nbr)[T.49]    -31.5501      2.011    -15.685      0.000     -35.493     -27.608
C(item_nbr)[T.50]    -26.3289      1.732    -15.198      0.000     -29.724     -22.933
C(item_nbr)[T.51]    -16.5218      1.662     -9.943      0.000     -19.779     -13.265
C(item_nbr)[T.52]    -37.6242      1.569    -23.974      0.000     -40.700     -34.548
C(item_nbr)[T.53]    -14.4056      1.888     -7.630      0.000     -18.106     -10.705
C(item_nbr)[T.54]    -21.5449      1.870    -11.523      0.000     -25.209     -17.880
C(item_nbr)[T.55]    -21.5382      1.817    -11.852      0.000     -25.100     -17.976
C(item_nbr)[T.56]     -9.3754      1.692     -5.542      0.000     -12.691      -6.060
C(item_nbr)[T.57]    -10.0833      2.031     -4.964      0.000     -14.065      -6.102
C(item_nbr)[T.58]    -10.9474      1.857     -5.896      0.000     -14.587      -7.308
C(item_nbr)[T.59]    -14.5034      1.767     -8.207      0.000     -17.967     -11.040
C(item_nbr)[T.60]    -83.5294      3.489    -23.941      0.000     -90.368     -76.691
C(item_nbr)[T.61]    -26.3086      1.565    -16.813      0.000     -29.376     -23.242
C(item_nbr)[T.62]    -23.2988      1.936    -12.036      0.000     -27.093     -19.505
C(item_nbr)[T.63]    -19.6533      1.965    -10.000      0.000     -23.505     -15.801
C(item_nbr)[T.64]    -42.3219      2.099    -20.166      0.000     -46.435     -38.208
C(item_nbr)[T.65]    -38.0153      1.924    -19.762      0.000     -41.786     -34.245
C(item_nbr)[T.66]     -8.4104      1.720     -4.889      0.000     -11.782      -5.038
C(item_nbr)[T.67]    -23.2711      1.689    -13.775      0.000     -26.582     -19.960
C(item_nbr)[T.68]     13.9978      1.431      9.780      0.000      11.192      16.803
C(item_nbr)[T.69]    -18.4488      1.853     -9.958      0.000     -22.080     -14.818
C(item_nbr)[T.70]     23.9931      2.105     11.398      0.000      19.867      28.119
C(item_nbr)[T.71]    -77.4137      2.002    -38.662      0.000     -81.338     -73.489
C(item_nbr)[T.72]    -10.4931      1.868     -5.619      0.000     -14.154      -6.833
C(item_nbr)[T.73]    -31.0163      2.014    -15.403      0.000     -34.963     -27.070
C(item_nbr)[T.74]    -33.2500      1.984    -16.760      0.000     -37.139     -29.361
C(item_nbr)[T.75]    -18.9260      2.070     -9.145      0.000     -22.982     -14.870
C(item_nbr)[T.76]    -82.8593      3.702    -22.385      0.000     -90.115     -75.604
C(item_nbr)[T.77]    -41.3673      2.029    -20.389      0.000     -45.344     -37.391
C(item_nbr)[T.78]    -19.4198      2.054     -9.454      0.000     -23.446     -15.394
C(item_nbr)[T.79]    -29.7411      1.945    -15.294      0.000     -33.553     -25.930
C(item_nbr)[T.80]    -15.7516      1.985     -7.935      0.000     -19.642     -11.861
C(item_nbr)[T.81]    -30.7183      1.859    -16.523      0.000     -34.362     -27.074
C(item_nbr)[T.82]    -19.4015      1.934    -10.030      0.000     -23.193     -15.610
C(item_nbr)[T.83]    -10.8306      1.711     -6.331      0.000     -14.184      -7.477
C(item_nbr)[T.84]    -30.0784      2.230    -13.489      0.000     -34.449     -25.708
C(item_nbr)[T.85]    -55.0022      2.234    -24.616      0.000     -59.382     -50.623
C(item_nbr)[T.86]    -25.2595      1.692    -14.925      0.000     -28.577     -21.942
C(item_nbr)[T.87]    -17.9522      1.780    -10.088      0.000     -21.440     -14.464
C(item_nbr)[T.88]     -7.7919      2.452     -3.178      0.001     -12.598      -2.986
C(item_nbr)[T.89]     -7.9065      3.034     -2.606      0.009     -13.852      -1.961
C(item_nbr)[T.90]    -79.0290      1.917    -41.236      0.000     -82.785     -75.273
C(item_nbr)[T.91]    -12.3300      1.949     -6.327      0.000     -16.150      -8.510
C(item_nbr)[T.92]    -89.6683      1.980    -45.283      0.000     -93.550     -85.787
C(item_nbr)[T.93]    -22.9894      1.411    -16.293      0.000     -25.755     -20.224
C(item_nbr)[T.94]    -22.8098      1.832    -12.450      0.000     -26.401     -19.219
C(item_nbr)[T.95]      8.0520      1.866      4.314      0.000       4.394      11.710
C(item_nbr)[T.96]    -77.6369      2.928    -26.519      0.000     -83.375     -71.899
C(item_nbr)[T.97]    -78.4943      2.640    -29.729      0.000     -83.669     -73.319
C(item_nbr)[T.98]    -36.2569      1.651    -21.958      0.000     -39.493     -33.021
C(item_nbr)[T.99]     -7.9560      2.142     -3.714      0.000     -12.155      -3.757
C(item_nbr)[T.100]   -13.7610      1.955     -7.039      0.000     -17.593      -9.929
C(item_nbr)[T.101]   -79.8065      2.132    -37.430      0.000     -83.986     -75.627
C(item_nbr)[T.102]   -27.1910      4.878     -5.574      0.000     -36.752     -17.630
C(item_nbr)[T.103]    21.4887      2.335      9.201      0.000      16.911      26.066
C(item_nbr)[T.104]   -20.7480      1.882    -11.023      0.000     -24.437     -17.059
C(item_nbr)[T.105]   -21.3867      1.845    -11.592      0.000     -25.003     -17.771
C(item_nbr)[T.106]   -24.8709      2.887     -8.614      0.000     -30.530     -19.212
C(item_nbr)[T.107]   -20.9690      2.061    -10.173      0.000     -25.009     -16.929
C(item_nbr)[T.108]   -20.1590      1.936    -10.415      0.000     -23.953     -16.365
C(item_nbr)[T.109]   -13.7754      1.650     -8.346      0.000     -17.010     -10.540
C(item_nbr)[T.110]   -10.4670      2.424     -4.319      0.000     -15.217      -5.717
C(item_nbr)[T.111]    23.2958      2.932      7.944      0.000      17.548      29.044
scale(cool)            0.5248      0.081      6.497      0.000       0.366       0.683
scale(heat)            0.9534      0.088     10.866      0.000       0.781       1.125
scale(preciptotal)     0.3484      0.066      5.259      0.000       0.219       0.478
scale(snowfall)       -0.1135      0.070     -1.630      0.103      -0.250       0.023
is_holiday             6.8579      0.141     48.492      0.000       6.581       7.135
==============================================================================
Omnibus:                     1759.457   Durbin-Watson:                   1.878
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2231.434
Skew:                           0.424   Prob(JB):                         0.00
Kurtosis:                       3.670   Cond. No.                         287.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# 5. test.csv load

In [82]:
test = pd.read_csv('../data/basic/test.csv', index_col = 0)

In [83]:
test.reset_index(inplace = True)

In [84]:
test.tail()

              date  store_nbr  item_nbr
526912  2014-10-26         45       107
526913  2014-10-26         45       108
526914  2014-10-26         45       109
526915  2014-10-26         45       110
526916  2014-10-26         45       111

## 5-1. test 데이터에 weather's feature merge후 test_df로 저장

In [85]:
test_df = test.merge(keys).merge(weather)

In [86]:
test_df.tail()

,date,store_nbr,item_nbr,station_nbr,tmax,tmin,tavg,depart,dewpoint,wetbulb,...,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,year,month,day,codesum
526912,2014-08-02,40,107,13,81.0,51.0,66.0,3.0,47.0,56.0,...,0.0,24.44,30.12,5.7,17.0,6.5,2014,8,2,
526913,2014-08-02,40,108,13,81.0,51.0,66.0,3.0,47.0,56.0,...,0.0,24.44,30.12,5.7,17.0,6.5,2014,8,2,
526914,2014-08-02,40,109,13,81.0,51.0,66.0,3.0,47.0,56.0,...,0.0,24.44,30.12,5.7,17.0,6.5,2014,8,2,
526915,2014-08-02,40,110,13,81.0,51.0,66.0,3.0,47.0,56.0,...,0.0,24.44,30.12,5.7,17.0,6.5,2014,8,2,
526916,2014-08-02,40,111,13,81.0,51.0,66.0,3.0,47.0,56.0,...,0.0,24.44,30.12,5.7,17.0,6.5,2014,8,2,

In [87]:
etc = ['tavg', 'sealevel', 'wetbulb', 'stnpressure', 'tmin', 'tmax', 'dewpoint', 'avgspeed', 'resultspeed']
category = ['sunrise','sunset','codesum']

for each in etc+category:
    test_df.drop(each,axis=1,inplace=True)

In [61]:
# etc = ['day','month','year', 'tavg', 'sealevel', 'wetbulb', 'stnpressure', 'tmin', 'tmax', 'dewpoint', 'avgspeed', 'resultspeed']
# category = ['sunrise','sunset','codesum']

# for each in etc+category:
#     test_df.drop(each,axis=1,inplace=True)

In [62]:
test_df.tail()

,date,store_nbr,item_nbr,station_nbr,depart,heat,cool,snowfall,preciptotal,resultdir
526912,2014-08-02,40,107,13,3.0,0.0,1.0,0.0,0.0,17.0
526913,2014-08-02,40,108,13,3.0,0.0,1.0,0.0,0.0,17.0
526914,2014-08-02,40,109,13,3.0,0.0,1.0,0.0,0.0,17.0
526915,2014-08-02,40,110,13,3.0,0.0,1.0,0.0,0.0,17.0
526916,2014-08-02,40,111,13,3.0,0.0,1.0,0.0,0.0,17.0

In [88]:
test_df = test_df.merge(codesum, on = ['date','store_nbr'])
test_df['is_holiday'] = test_df['is_holiday'].apply(cate_holiday)
test_df['codesum'] = test_df['codesum'].apply(cate_codesum)

## 5-2. test_df에서 팔린 units의 feature에 대해서만 선택후 test_X_df에 저장

In [89]:
test_X_df = pd.DataFrame(columns=['date', 'store_nbr', 'item_nbr', 'station_nbr', 'cool', 'depart', 'heat', 'preciptotal', 'resultdir', 'snowfall', 'is_holiday', 'codesum'])

for nbr in range(1, 45+1):
    store_nbr = tmp[tmp['store_nbr'].isin([nbr])]
    sold_item_list = list(store_nbr['item_nbr'].unique())
    sold_item_list

    test_store_nbr = test_df[test_df['store_nbr'].isin([nbr])]
    to_test_df = test_store_nbr[test_store_nbr['item_nbr'].isin(sold_item_list)]

    test_X_df = pd.concat([test_X_df, to_test_df], axis = 0)
    
test_X_df.shape

(25728, 15)

In [90]:
test_X_df.head()

,codesum,cool,date,day,depart,heat,is_holiday,item_nbr,month,preciptotal,resultdir,snowfall,station_nbr,store_nbr,year
484301,0,0.0,2013-06-04,4.0,9.0,3.0,0,9,6.0,0.0,31.0,0.0,1,1,2013.0
484320,0,0.0,2013-06-04,4.0,9.0,3.0,0,28,6.0,0.0,31.0,0.0,1,1,2013.0
484332,0,0.0,2013-06-04,4.0,9.0,3.0,0,40,6.0,0.0,31.0,0.0,1,1,2013.0
484339,0,0.0,2013-06-04,4.0,9.0,3.0,0,47,6.0,0.0,31.0,0.0,1,1,2013.0
484343,0,0.0,2013-06-04,4.0,9.0,3.0,0,51,6.0,0.0,31.0,0.0,1,1,2013.0

In [91]:
test_X_df.head()

,codesum,cool,date,day,depart,heat,is_holiday,item_nbr,month,preciptotal,resultdir,snowfall,station_nbr,store_nbr,year
484301,0,0.0,2013-06-04,4.0,9.0,3.0,0,9,6.0,0.0,31.0,0.0,1,1,2013.0
484320,0,0.0,2013-06-04,4.0,9.0,3.0,0,28,6.0,0.0,31.0,0.0,1,1,2013.0
484332,0,0.0,2013-06-04,4.0,9.0,3.0,0,40,6.0,0.0,31.0,0.0,1,1,2013.0
484339,0,0.0,2013-06-04,4.0,9.0,3.0,0,47,6.0,0.0,31.0,0.0,1,1,2013.0
484343,0,0.0,2013-06-04,4.0,9.0,3.0,0,51,6.0,0.0,31.0,0.0,1,1,2013.0

## 5-3. test_df와 type을 맞춰줘야함 그래야 predict()에 넣을 수 있다.

In [92]:
test_X_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25728 entries, 484301 to 514090
Data columns (total 15 columns):
codesum        25728 non-null object
cool           25728 non-null float64
date           25728 non-null object
day            25728 non-null float64
depart         25728 non-null float64
heat           25728 non-null float64
is_holiday     25728 non-null object
item_nbr       25728 non-null object
month          25728 non-null float64
preciptotal    25728 non-null float64
resultdir      25728 non-null float64
snowfall       25728 non-null float64
station_nbr    25728 non-null object
store_nbr      25728 non-null object
year           25728 non-null float64
dtypes: float64(9), object(6)
memory usage: 3.1+ MB

In [93]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 526917 entries, 0 to 526916
Data columns (total 15 columns):
date           526917 non-null object
store_nbr      526917 non-null int64
item_nbr       526917 non-null int64
station_nbr    526917 non-null int64
depart         526917 non-null float64
heat           526917 non-null float64
cool           526917 non-null float64
snowfall       526917 non-null float64
preciptotal    526917 non-null float64
resultdir      526917 non-null float64
year           526917 non-null int64
month          526917 non-null int64
day            526917 non-null int64
is_holiday     526917 non-null int64
codesum        526917 non-null int64
dtypes: float64(6), int64(8), object(1)
memory usage: 64.3+ MB

In [94]:
test_X_df['store_nbr'] = test_X_df['store_nbr'].astype(int)
test_X_df['item_nbr'] = test_X_df['item_nbr'].astype(int)
test_X_df['station_nbr'] = test_X_df['station_nbr'].astype(int)
test_X_df['is_holiday'] = test_X_df['is_holiday'].astype(int)
test_X_df['codesum'] = test_X_df['codesum'].astype(int)

In [95]:
test_X_df.columns

Index(['codesum', 'cool', 'date', 'day', 'depart', 'heat', 'is_holiday',
       'item_nbr', 'month', 'preciptotal', 'resultdir', 'snowfall',
       'station_nbr', 'store_nbr', 'year'],
      dtype='object')

## 5-4. 이제 test_X_df 를 predict() 하면

In [96]:
y_hat = result.predict(test_X_df)

In [97]:
y_df = test_df.loc[:,['date','store_nbr','item_nbr']]

In [98]:
y_df['units'] = y_hat

In [99]:
y_df.tail()

              date  store_nbr  item_nbr  units
526912  2014-08-02         40       107    NaN
526913  2014-08-02         40       108    NaN
526914  2014-08-02         40       109    NaN
526915  2014-08-02         40       110    NaN
526916  2014-08-02         40       111    NaN

In [100]:
def itiszero(units):
    if units > 0:
        return units
    else:
        return 0

In [101]:
y_df['units'] = y_df['units'].apply(itiszero)

In [102]:
y_df['units'] = y_df['units'].astype(int)

In [103]:
y_df

              date  store_nbr  item_nbr  units
0       2013-04-01          2         1      0
1       2013-04-01          2         2      0
2       2013-04-01          2         3      0
3       2013-04-01          2         4      0
4       2013-04-01          2         5     59
5       2013-04-01          2         6      0
6       2013-04-01          2         7      0
7       2013-04-01          2         8      0
8       2013-04-01          2         9      0
9       2013-04-01          2        10      0
10      2013-04-01          2        11      1
11      2013-04-01          2        12      0
12      2013-04-01          2        13      0
13      2013-04-01          2        14      0
14      2013-04-01          2        15      0
15      2013-04-01          2        16      0
16      2013-04-01          2        17      0
17      2013-04-01          2        18      0
18      2013-04-01          2        19      0
19      2013-04-01          2        20      0
20      2013-04-01          2        21      0
21      2013-04-01          2        22      0
22      2013-04-01          2        23      0
23      2013-04-01          2        24      0
24      2013-04-01          2        25      0
25      2013-04-01          2        26      0
26      2013-04-01          2        27      0
27      2013-04-01          2        28      0
28      2013-04-01          2        29      0
29      2013-04-01          2        30      0
...            ...        ...       ...    ...
526887  2014-08-02         40        82      0
526888  2014-08-02         40        83      0
526889  2014-08-02         40        84      0
526890  2014-08-02         40        85      0
526891  2014-08-02         40        86      0
526892  2014-08-02         40        87      0
526893  2014-08-02         40        88      0
526894  2014-08-02         40        89      0
526895  2014-08-02         40        90      0
526896  2014-08-02         40        91      0
526897  2014-08-02         40        92      0
526898  2014-08-02         40        93      0
526899  2014-08-02         40        94      0
526900  2014-08-02         40        95      0
526901  2014-08-02         40        96      0
526902  2014-08-02         40        97      0
526903  2014-08-02         40        98      0
526904  2014-08-02         40        99      0
526905  2014-08-02         40       100      0
526906  2014-08-02         40       101      0
526907  2014-08-02         40       102      0
526908  2014-08-02         40       103      0
526909  2014-08-02         40       104      0
526910  2014-08-02         40       105      0
526911  2014-08-02         40       106      2
526912  2014-08-02         40       107      0
526913  2014-08-02         40       108      0
526914  2014-08-02         40       109      0
526915  2014-08-02         40       110      0
526916  2014-08-02         40       111      0

[526917 rows x 4 columns]

# 6. 제출 형식에 맞게 수정 후 .csv파일로 저장

In [104]:
y_df['id'] = y_df['store_nbr'].astype(str)+"_"+y_df['item_nbr'].astype(str)+'_'+y_df['date'].astype(str)

In [105]:
for_submission = y_df.loc[:,['id','units']]

In [106]:
for_submission.head()

               id  units
0  2_1_2013-04-01      0
1  2_2_2013-04-01      0
2  2_3_2013-04-01      0
3  2_4_2013-04-01      0
4  2_5_2013-04-01     59

In [109]:
for_submission.to_csv('../model_generation/submission_csv/station_nbr.csv', index = False)

In [89]:
for_submission.to_csv('../model_generation/submission_csv/submission.csv', index = False)