In [1]:
from ml_config import *

In [2]:
sales = pd.read_csv('../data/train.csv', parse_dates=['date'])
keys = pd.read_csv('../data/key.csv')
weather = pd.read_csv('../data/weather.csv',parse_dates=['date'])
df_1 = pd.merge(weather,keys)
df_1 = pd.merge(df_1, sales)

dates = df_1['date'].dt
df_1['year'] = dates.year
df_1['month'] = dates.month
df_1['day'] = dates.day

In [5]:
store_7 = df_1[(df_1['year']==2013) & (df_1['store_nbr']==7)]

In [6]:
store

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,sealevel,resultspeed,resultdir,avgspeed,store_nbr,item_nbr,units,year,month,day
685758,6,2013-01-01,55,40,48,-1,43,45,17,0,...,30.15,12.8,01,12.5,7,1,0,2013,1,1
685759,6,2013-01-01,55,40,48,-1,43,45,17,0,...,30.15,12.8,01,12.5,7,2,0,2013,1,1
685760,6,2013-01-01,55,40,48,-1,43,45,17,0,...,30.15,12.8,01,12.5,7,3,0,2013,1,1
685761,6,2013-01-01,55,40,48,-1,43,45,17,0,...,30.15,12.8,01,12.5,7,4,0,2013,1,1
685762,6,2013-01-01,55,40,48,-1,43,45,17,0,...,30.15,12.8,01,12.5,7,5,52,2013,1,1