# weather_v1,v2,v3 에 holiday column 추가하기

In [2]:
import pandas as pd

# 1. load .csv file

In [3]:
data1 = pd.read_csv('../data/weather_v1.csv', index_col = 0)
data2 = pd.read_csv('../data/weather_v2.csv', index_col = 0)
data3 = pd.read_csv('../data/weather_v3.csv', index_col = 0)

# 2. data컬럼의 년, 월, 일 분리하는 함수

In [4]:
def make_year(date):
    return int(date.split('-')[0])

def make_month(date):
    return int(date.split('-')[1])

def make_day(date):
    return int(date.split('-')[2])

def make_monthday(date):
    return (date.split('-')[1:3])

# 3. 총 일수 365, 366 일 구하는 함수

In [5]:
def is_leap_year(year):
    return ((year % 4 == 0 and year % 100 != 0) or year % 400 == 0)

def sum_of_days(year,monthday):
    
    month = int(monthday[0])
    day = int(monthday[1])
    
    common_year = [
        31,
        28 + + int(is_leap_year(year)),
        31,
        30,
        31,
        30,
        31,
        31,
        30,
        31,
        30,
        31
    ]
    tmp_days = 0
    for i in range(month - 1):
        tmp_days += common_year[i]
    tmp_days += day
    return tmp_days

# 4. 구한 요일 수를 통해 요일을 구할 수 있다.

In [6]:
# 요일 구하는 함수
def check_week_of_day(year,days):
    
    if year == 2012:

        date_list = ['Sun', 'Mon', 'Tue', 'Wed', 'Thi', 'Fri', 'Sat']
        
    elif year == 2013:
        
        date_list = ['Tue', 'Wed', 'Thi', 'Fri', 'Sat', 'Sun', 'Mon']
    else:
        
        date_list = ['Wed', 'Thi', 'Fri', 'Sat', 'Sun', 'Mon','Tue']
    
    return date_list[days % 7 - 1]

# 5. 각 버전에 함수 적용!!

In [7]:
data1['year'] = data1['date'].apply(make_year)
data1['monthday'] = data1['date'].apply(make_monthday)
data1['days'] = data1.apply(lambda row : sum_of_days(row['year'], row['monthday']), axis = 1)
data1['dayofweek'] = data1.apply(lambda row : check_week_of_day(row['year'], row['days']), axis = 1)

In [8]:
data1.tail()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,stnpressure,sealevel,resultspeed,resultdir,avgspeed,dayofweek,is_holiday,year,monthday,days
20512,16,2014-10-31,53,34,44,M,35,41,21,0,...,29.90,29.99,4.5,03,5.3,Fri,holiday,2014,"[10, 31]",304
20513,17,2014-10-31,59,34,47,M,32,41,18,0,...,29.72,30.39,9.2,01,9.3,Fri,holiday,2014,"[10, 31]",304
20514,18,2014-10-31,67,49,58,-4,40,50,7,0,...,29.78,30.28,10.6,36,11.2,Fri,holiday,2014,"[10, 31]",304
20515,19,2014-10-31,45,33,39,-6,24,32,26,0,...,29.51,30.24,20.4,34,20.9,Fri,holiday,2014,"[10, 31]",304
20516,20,2014-10-31,68,50,59,M,39,50,6,0,...,29.57,30.27,10.5,36,11.2,Fri,holiday,2014,"[10, 31]",304

In [9]:
data2['year'] = data2['date'].apply(make_year)
data2['monthday'] = data2['date'].apply(make_monthday)
data2['days'] = data2.apply(lambda row : sum_of_days(row['year'], row['monthday']), axis = 1)
data2['dayofweek'] = data2.apply(lambda row : check_week_of_day(row['year'], row['days']), axis = 1)

In [10]:
data2.tail()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,stnpressure,sealevel,resultspeed,resultdir,avgspeed,dayofweek,is_holiday,year,monthday,days
20512,16,2014-10-31,53,34,44,M,35,41,21,0,...,29.90,29.99,4.5,03,5.3,Fri,holiday,2014,"[10, 31]",304
20513,17,2014-10-31,59,34,47,M,32,41,18,0,...,29.72,30.39,9.2,01,9.3,Fri,holiday,2014,"[10, 31]",304
20514,18,2014-10-31,67,49,58,-4,40,50,7,0,...,29.78,30.28,10.6,36,11.2,Fri,holiday,2014,"[10, 31]",304
20515,19,2014-10-31,45,33,39,-6,24,32,26,0,...,29.51,30.24,20.4,34,20.9,Fri,holiday,2014,"[10, 31]",304
20516,20,2014-10-31,68,50,59,M,39,50,6,0,...,29.57,30.27,10.5,36,11.2,Fri,holiday,2014,"[10, 31]",304

In [11]:
data3['year'] = data3['date'].apply(make_year)
data3['monthday'] = data3['date'].apply(make_monthday)
data3['days'] = data3.apply(lambda row : sum_of_days(row['year'], row['monthday']), axis = 1)
data3['dayofweek'] = data3.apply(lambda row : check_week_of_day(row['year'], row['days']), axis = 1)

In [12]:
data3.tail()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,stnpressure,sealevel,resultspeed,resultdir,avgspeed,dayofweek,is_holiday,year,monthday,days
20512,16,2014-10-31,53,34,44,M,35,41,21,0,...,29.90,29.99,4.5,03,5.3,Fri,holiday,2014,"[10, 31]",304
20513,17,2014-10-31,59,34,47,M,32,41,18,0,...,29.72,30.39,9.2,01,9.3,Fri,holiday,2014,"[10, 31]",304
20514,18,2014-10-31,67,49,58,-4,40,50,7,0,...,29.78,30.28,10.6,36,11.2,Fri,holiday,2014,"[10, 31]",304
20515,19,2014-10-31,45,33,39,-6,24,32,26,0,...,29.51,30.24,20.4,34,20.9,Fri,holiday,2014,"[10, 31]",304
20516,20,2014-10-31,68,50,59,M,39,50,6,0,...,29.57,30.27,10.5,36,11.2,Fri,holiday,2014,"[10, 31]",304

# 6. 주중인데 휴일인 경우를 고려하면

In [13]:
holiday = pd.read_csv('../wy/holiday',index_col = 0)

In [14]:
holiday

          date  year  month  day dayofweek                 holiday
0   2012-01-02  2012      1    2       Mon     NewYearsDay(inlieu)
1   2012-01-16  2012      1   16       Mon  MartinLutherKingJr.Day
2   2012-02-20  2012      2   20       Mon          Presidents'Day
3   2012-05-28  2012      5   28       Mon             MemorialDay
4   2012-07-04  2012      7    4       Wed         IndependenceDay
5   2012-09-03  2012      9    3       Mon                LaborDay
6   2012-10-08  2012     10    8       Mon             ColumbusDay
7   2012-11-12  2012     11   12       Mon             VeteransDay
8   2012-11-22  2012     11   22       Thu            Thanksgiving
9   2012-11-23  2012     11   23       Fri    DayafterThanksgiving
10  2012-12-25  2012     12   25       Tue            ChristmasDay
11  2013-01-01  2013      1    1       Tue             NewYearsDay
12  2013-01-21  2013      1   21       Mon  MartinLutherKingJr.Day
13  2013-02-18  2013      2   18       Mon          Presidents'Day
14  2013-05-27  2013      5   27       Mon             MemorialDay
15  2013-07-04  2013      7    4       Thu         IndependenceDay
16  2013-09-02  2013      9    2       Mon                LaborDay
17  2013-10-14  2013     10   14       Mon             ColumbusDay
18  2013-11-11  2013     11   11       Mon             VeteransDay
19  2013-11-28  2013     11   28       Thu            Thanksgiving
20  2013-12-25  2013     12   25       Wed            ChristmasDay
21  2014-01-01  2014      1    1       Wed             NewYearsDay
22  2014-01-20  2014      1   20       Mon  MartinLutherKingJr.Day
23  2014-02-17  2014      2   17       Mon          Presidents'Day
24  2014-05-26  2014      5   26       Mon             MemorialDay
25  2014-07-04  2014      7    4       Fri         IndependenceDay
26  2014-09-01  2014      9    1       Mon                LaborDay
27  2014-10-13  2014     10   13       Mon             ColumbusDay
28  2014-11-11  2014     11   11       Tue             VeteransDay
29  2014-11-27  2014     11   27       Thu            Thanksgiving
30  2014-12-25  2014     12   25       Thu            ChristmasDay

### data의 리스트만 뽑아서 리스트를 만들고

In [15]:
holiday_list = list(holiday['date'])

In [16]:
def is_holiday(date, dayofweek):
    if date in holiday_list:
        return 'holiday_work'
    elif dayofweek == "Sun" or dayofweek == "Sat":
        return 'holiday'
    else:
        return 'workday'

# 7. is_holiday 함수 적용

In [17]:
data1['is_holiday'] = data1.apply(lambda row : is_holiday(row['date'], row['dayofweek']), axis = 1)
data2['is_holiday'] = data2.apply(lambda row : is_holiday(row['date'], row['dayofweek']), axis = 1)
data3['is_holiday'] = data3.apply(lambda row : is_holiday(row['date'], row['dayofweek']), axis = 1)

### holiday_list와 비교해보니 잘 된 것 같다.

In [18]:
data1[data1['is_holiday'].isin(['holiday_work'])].head()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,stnpressure,sealevel,resultspeed,resultdir,avgspeed,dayofweek,is_holiday,year,monthday,days
19,1,2012-01-02,50,31,41,M,26,35,24,0,...,29.44,29.62,9.8,24,10.3,Mon,holiday_work,2012,"[01, 02]",2
20,2,2012-01-02,46,28,37,12,24,32,28,0,...,28.51,29.62,12.7,26,13.3,Mon,holiday_work,2012,"[01, 02]",2
21,3,2012-01-02,45,24,35,-1,11,28,30,0,...,29.89,30.63,7.7,32,8.2,Mon,holiday_work,2012,"[01, 02]",2
22,4,2012-01-02,60,37,49,-2,26,39,16,0,...,29.93,30.64,3.7,36,4.8,Mon,holiday_work,2012,"[01, 02]",2
23,6,2012-01-02,60,30,45,-4,27,38,20,0,...,30.09,30.63,9.0,01,9.3,Mon,holiday_work,2012,"[01, 02]",2

### 보통 평일 확인

In [19]:
data2['is_holiday']

0             holiday
1             holiday
2             holiday
3             holiday
4             holiday
5             holiday
6             holiday
7             holiday
8             holiday
9             holiday
10            holiday
11            holiday
12            holiday
13            holiday
14            holiday
15            holiday
16            holiday
17            holiday
18            holiday
19       holiday_work
20       holiday_work
21       holiday_work
22       holiday_work
23       holiday_work
24       holiday_work
25       holiday_work
26       holiday_work
27       holiday_work
28       holiday_work
29       holiday_work
             ...
20487         workday
20488         workday
20489         workday
20490         workday
20491         workday
20492         workday
20493         workday
20494         workday
20495         workday
20496         workday
20497         workday
20498         workday
20499         workday
20500         workday
20501         workday
20502         workday
20503         workday
20504         workday
20505         workday
20506         workday
20507         workday
20508         workday
20509         workday
20510         workday
20511         workday
20512         workday
20513         workday
20514         workday
20515         workday
20516         workday
Name: is_holiday, Length: 20517, dtype: object

# 8. 혹시모르니 요일 컬럼은 두고 나머지 필요없는 컬럼은 삭제!

In [20]:
del data1['year']
del data1['monthday']
del data1['days']

del data2['year']
del data2['monthday']
del data2['days']

del data3['year']
del data3['monthday']
del data3['days']

In [21]:
data1.tail()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,dayofweek,is_holiday
20512,16,2014-10-31,53,34,44,M,35,41,21,0,...,MO,M,0.00,29.90,29.99,4.5,03,5.3,Fri,workday
20513,17,2014-10-31,59,34,47,M,32,41,18,0,...,Not_MO,0.0,0.00,29.72,30.39,9.2,01,9.3,Fri,workday
20514,18,2014-10-31,67,49,58,-4,40,50,7,0,...,MO,0.0,0.00,29.78,30.28,10.6,36,11.2,Fri,workday
20515,19,2014-10-31,45,33,39,-6,24,32,26,0,...,Not_MO,0.1,0.02,29.51,30.24,20.4,34,20.9,Fri,workday
20516,20,2014-10-31,68,50,59,M,39,50,6,0,...,MO,0.0,0.00,29.57,30.27,10.5,36,11.2,Fri,workday

In [22]:
data2.tail()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,dayofweek,is_holiday
20512,16,2014-10-31,53,34,44,M,35,41,21,0,...,MO,M,0.00,29.90,29.99,4.5,03,5.3,Fri,workday
20513,17,2014-10-31,59,34,47,M,32,41,18,0,...,RA,0.0,0.00,29.72,30.39,9.2,01,9.3,Fri,workday
20514,18,2014-10-31,67,49,58,-4,40,50,7,0,...,MO,0.0,0.00,29.78,30.28,10.6,36,11.2,Fri,workday
20515,19,2014-10-31,45,33,39,-6,24,32,26,0,...,AN,0.1,0.02,29.51,30.24,20.4,34,20.9,Fri,workday
20516,20,2014-10-31,68,50,59,M,39,50,6,0,...,MO,0.0,0.00,29.57,30.27,10.5,36,11.2,Fri,workday

In [23]:
data3.tail()

,station_nbr,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed,dayofweek,is_holiday
20512,16,2014-10-31,53,34,44,M,35,41,21,0,...,MO,M,0.00,29.90,29.99,4.5,03,5.3,Fri,workday
20513,17,2014-10-31,59,34,47,M,32,41,18,0,...,RA,0.0,0.00,29.72,30.39,9.2,01,9.3,Fri,workday
20514,18,2014-10-31,67,49,58,-4,40,50,7,0,...,MO,0.0,0.00,29.78,30.28,10.6,36,11.2,Fri,workday
20515,19,2014-10-31,45,33,39,-6,24,32,26,0,...,AN,0.1,0.02,29.51,30.24,20.4,34,20.9,Fri,workday
20516,20,2014-10-31,68,50,59,M,39,50,6,0,...,MO,0.0,0.00,29.57,30.27,10.5,36,11.2,Fri,workday

# 9. 저장!!

In [24]:
data1.to_csv('../data/weather_v1.csv', sep = ',')
data2.to_csv('../data/weather_v2.csv', sep = ',')
data3.to_csv('../data/weather_v3.csv', sep = ',')